---
import Navbar from "../../components/Header.astro";
import "../../styles/global.css";
import Footer2 from "../../components/Footer2.astro";
import Update from "../../components/Update.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOSSEE GIS 2025</title>
  </head>
  <body class="font-sans">
	<Update/>
    <Navbar />
    <div class="min-h-[48vh] text-gray-600 base-content text-sm">
        <div class="m-3 p-3">
            <h1 class="text-3xl font-bold mb-4">GIS Internship</h1>
            <p class="text-justify mb-4">
                
The internships offered by the FOSSEE GIS project, IIT Bombay are highly contested and counted among the top avenues in India and are classified into two broad categories. &gt;&gt;&gt;&gt;&gt; National Geospatial Internship 2025 is open for UG, PG, PhD students of any background interested in interdisciplinary geospatial topics. Candidates for the National Geospatial Internship 2025 (#NGI2025)  are selected through a direct application process based on the strength of their a. Research Proposal; b. Statement of Purpose; c. Resume/ CV; d. NOC from the head of the institute. Current UG/ PG final-year students doing their project work in the (interdisciplinary) geospatial domain can apply. A total of one thousand eligible candidates, if identified shall get a chance. This is a ‘pro bono’ remote internship. Applicants can have a local faculty from their institute/ College as a mentor along with a mandatory mentor from FOSSEE GIS, IIT Bombay. Detailed information shall be made available on  https://gis.fossee.in.

&gt;&gt;&gt;&gt;&gt; FOSSEE’s OSGKC (Open Source Geospatial Knowledge Centre) will be eligible to nominate one candidate directly for the National Geospatial Internship, subject to the scrutiny of their profile, proposal, methodology,  etc as required. For any queries, write to mohamedkasim@iitb.ac.in.

&gt;&gt;&gt;&gt;&gt; The candidates selected for the National Geospatial internship shall be classified into the following groups, depending on the nature of their work. 
  
&gt;&gt;&gt; General GIS

This group of interns shall be working on a problem statement aimed at purely creating a thematic map as a solution for their problem statement. The complexity of the problem statement, methodology used, quality, and source of datasets shall play a crucial role during the evaluation process. 

&gt;&gt;&gt; Dashboard Design

Applicants interested in creating geospatial dashboards shall be placed in this group. The end output will be a fully functional dashboard for the proposed idea.

&gt;&gt;&gt; Product Development

Candidates having open source technical skills and knowledge in (geospatial) product development shall be assigned under this group. 

&gt;&gt;&gt; National Geospatial Internship 2025 (Application window)
(15 - 25 February 2025)


&gt;&gt;&gt;&gt;&gt; IIT Bombay FOSSEE Geospatial Internship and Summer Fellowship 2025 (Edition II)
The IIT Bombay FOSSEE GIS Summer Fellowship and Internship 2025 (Edition II) is a flagship activity of the FOSSEE-GIS team, which will be conducted in two stages i.e. Stage 1: Summer Fellowship (First month); Stage 2: Maim Internship (02 to 06 months). Candidates will be chosen based on three categories.. (i). Champions, Winners, and notable participants of IIT Bombay FOSSEE Geospatial Mapathon 2024 (Edition IV) &amp; IIT Bombay FOSSEE-AAI Geospatial Mapathon 2025 (Edition V); (ii). Open Registration; and (iii). Special Purpose Vehicle (a special drive to get on board bright students from the North-Eastern States, Jammu and Kashmir, Andaman and Nicobar Islands, Lakshadweep, etc). Candidates will be selected based on the strength of their S.o.P. (Statement of Purpose), and a screening task which will determine their ability to work using GIS-based Free/Libre Open Source Software/ tools.

The IIT Bombay FOSSEE GIS Summer Fellowship and Internship is considered to be one of India’s most coveted internships in the Geospatial domain with over 3000+ unique applications received from students studying in various Universities/ Colleges across India. More details will be published on https://fossee.in website. For related queries, write to mohamedkasim@iitb.ac.in.

&gt;&gt;&gt; Note:
+ District Collectors/ Administrations and Government Ministries can send us their problem statement which will be assigned to the interns, who will try to solve the problems under the mentorship of the IIT Bombay-FOSSEE-GIS team and from partner institutions.
+ Students who have already been offered or have participated in any form of Summer Fellowship/Internship conducted by the IIT Bombay FOSSEE GIs team will not be eligible to apply.
+ Incomplete work or non-compliance to any of the FOSSEE GIS mandates by the selected candidates shall result in disqualification from the internship.
+ The duration of the internship shall be decided by the IIT Bombay FOSSEE GIS team.
+ The internships are pro bono and remote.

 To get shortlisted for the fellowship: select a project and choose a screening task from the list that we update on our website.
            </p>
        </div>
    </div>
    <Footer2/>
  </body>
</html>
