---
import Navbar from "../../components/Header.astro";
import "../../styles/global.css";
import Footer2 from "../../components/Footer2.astro";
import Update from "../../components/Update.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOSSEE GIS 2025</title>
  </head>
  <body class="font-sans">
	<Update/>
    <Navbar />
        <div class="min-h-[48vh] text-gray-600 base-content text-sm">
          <div class="m-3 p-3">
            <h1 class="text-3xl font-bold mb-4">GIS Summer/Winter School</h1>
            <p class="text-justify">
                The FOSSEE-GIS Summer/Winter School is an unique opportunity for students from institutions across India. There shall be a cap of maximum 01 participant per Institute/College, with a total strength of 100 (tentative), who can get a chance to participate either in-person or remote or hybrid mode. The FOSSEE-GIS Summer/Winter School might typically last for a week. This will come with hands-on sessions, expert talks, etc. Keep checking  our website (https://qgis.fossee.in), for updates.
            </p>
        </div>
    </div>
        </div>
    <Footer2/>
  </body>
</html>