---
import Navbar from "../../components/Header.astro";
import "../../styles/global.css";
import Footer2 from "../../components/Footer2.astro";
import Update from "../../components/Update.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOSSEE GIS 2025</title>
  </head>
  <body class="font-sans">
	<Update/>
    <Navbar />
    <div class="h-[48vh]"></div>
    <Footer2/>
  </body>
</html>
