---
import Navbar from "../components/Header.astro";
import Hero from "../components/Home/Hero.astro";
import Cards from "../components/Home/Cards.astro";
import Socials from "../components/Home/Socials.astro";
import Footer from "../components/Home/Footer.astro";
import Update from "../components/Update.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOSSEE GIS 2025</title>
  </head>
  <body class="font-sans">
	<Update/>
    <Navbar />
    <Hero />
	 <Cards />
	 <Socials />
	 <Footer />
  </body>
</html>
