---
import Navbar from "../../components/Header.astro";
import "../../styles/global.css";
import Footer2 from "../../components/Footer2.astro";
import Update from "../../components/Update.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOSSEE GIS 2025</title>
     <!-- Exo 2 Font -->
    
    </head>
  <body class="">
	<Update/>
    <Navbar />
  <div class="px-10">
    <section class="mb-16">
        <h2 class="text-m font-semibold mb-5 mt-10">About IIT Bombay-FOSSEE-GIS</h2>
        <p class="text-sm">
          The “IIT Bombay-FOSSEE-GIS” is an initiative focused towards promoting the use of GIS based Free/Libre Open Source Software in academic institutions across India, and also in industry. FOSSEE-GIS is a vertical of the FOSSEE project, developed at IIT Bombay.
        </p>
        <p class="mt-4 text-sm">
          The “IIT Bombay-FOSSEE-GIS” team conducts the following flagship activities,
        </p>
        <ol type="i" class="text-sm ml-6 mt-4 space-y-2">
          <li>(i). Mapathon: A pan-India Mapping challenge, using satellite and remote sensing data, observation data, collected data, etc..</li>
          <li>(ii). Case Study: A more focused map-making activity with narrowed-down study objective/area, working with realistic/genuine/problem specific data-sets.</li>
          <li>(iii). GIS Internship: A dedicated GIS based internship activity.</li>
          <li>(iv). Summer/Winter School: An on-campus GIS-based problem solving activity, where expert level candidates qualified through Mapathon→Case Study→ GIS Internship, participate get mentored and develop problem solving skills using GIS tools.</li>
        </ol>
      </section>

      <!-- Mandates -->
      <section class="mb-16">
        <h2 class="text-sm mb-15">IIT Bombay-FOSSEE-GIS Mandates:</h2>
        <ol class="list-decimal ml-6 text-sm space-y-2">
          <li>Open ONLY FOR INDIAN CITIZENS</li>
          <li>Submissions must be SDG compliant</li>
          <li>Adhere to the National Geospatial Policy</li>
          <li>Inclined to Gati Shakti (recommended)</li>
          <li>Work with real data-sets</li>
          <li>Thematic maps with full report (along with data-sets).</li>
          <li>Use only Open Source software (Example: QGIS. etc).</li>
        </ol>
      </section>

      <!-- Mentorship & Collaboration -->
      <section class="mb-16 text-sm">
         <p class="mt-14">
          Note: List of ‘Resources’, reference materials and FAQs shall be made available on our official website 
          <a href="https://qgis.fossee.in" target="_blank" class="text-sm text-blue-600 underline">https://qgis.fossee.in</a>.
        </p>
        <p class="mt-14">
          All the above mentioned activities are mentored by IIT Bombay-FOSSEE-GIS team members, and partner organizations.
        </p>
        <p class="mt-14">
          The IIT Bombay-FOSSEE-GIS team also offer ‘Open Hardware’ based collaborative/ Interdisciplinary challenge for students from different domains.
        </p>
        <p class="mt-14">
          In addition, along with partner institutions, the ‘IIT Bombay-FOSSEE-GIS’ team intends to announce “Women in GIS award”, and other innovative avenues to promote the usage of Free/Libre Open Source Software, wherever possible.
        </p>
      </section>
      <!-- What is GIS -->
      <section class="mb-16">
        <h2 class="text-m font-semibold mb-5">What is GIS?</h2>
        <p class="text-sm">
          GIS is an acronym for Geographic Information System. An integrated collection of computer software and data used to view and manage information about geographic places, analyze spatial relationships, and model spatial processes. A GIS provides a framework for gathering and organizing spatial data and related information so that it can be displayed and analyzed.
        </p>
      </section>

      <!-- About FOSSEE -->
      <section class="mb-16">
        <h2 class="text-m font-semibold mb-5">About FOSSEE</h2>
        <p class="text-sm">
          FOSSEE (Free/ Libre Open Source Software for Education) is a project developed at IIT Bombay to promote the usage of FOSS in academia, industry, research, etc. The FOSSEE project is funded through the National Mission on Education through ICT (NMEICT), Ministry of Education, Government of India.
        </p>
      </section>
      </div>
    <Footer2/>
  </body>
</html>
