---
import Navbar from "../../components/Header.astro";
import "../../styles/global.css";
import Footer2 from "../../components/Footer2.astro";
import Update from "../../components/Update.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOSSEE GIS 2025</title>
  </head>
  <body class="font-sans">
	<Update/>
    <Navbar />
    <div class="min-h-[48vh] text-gray-600">
       <div class="px-10 py-10">
        <h1 class="text-4xl font-semibold mb-5 mt-10">Mapathon</h1>
        <p class="text-sm">The IIT Bombay FOSSEE Geospatial Mapathon 2025 (Edition V) is the world’s biggest open-source-based geospatial mapping challenge. Mapathon is a map-making competition for creating thematic maps, using open-source data and mapping software. It is a collaborative event where participants come together to develop new tools/methods that improve the accuracy and usefulness of maps for a community. The FOSSEE team at IIT Bombay, along with its partners the Rural Data Research and Analysis (RuDRA) Lab, IIT Bombay, and IIT Tirupati Navavishkar I-Hub Foundation (NM-ICPS, DST, Government of India, ICFOSS, TNSDC, WRD - Government of Maharashtra,  will invite all Indians - to produce maps using various data (e.g. observation data, remote sensing data, crowdsourced data, etc.). The primary objective is to understand the potential of remote sensing data and make maps for Indian regions using free open-source mapping software (e.g. QGIS). The participants will collectively work in a crowd-sourcing method for jointly producing thematic maps of India. The data collected from various platforms have tremendous potential in mapping India’s resources, agriculture, climate, disaster management, rural and urban planning, and identifying pathways for future development. Such maps can be created using Free Open Source platforms (such as QGIS). Let us join together to create such maps through the Mapathon. The FOSSEE GIS project, along with its partner organizations has successfully organized four editions of Geospatial Mapathon (Edition 01 IITB-ISRO-AICTE (2020-2021); Edition 02 IITB-AICTE-GISE-GRSS (2022); Edition IITB-IITTNiF-TNSDC (2023); Edition 04 IITB-IITTNiF-ICFOSS-TNSDC (2024).

The fifth edition of IIT Bombay FOSSEE-AAI Geospatial Mapathon 2025 shall commence on March 01, 2025. The Rural Data Research and Analysis (RuDRA), Lab, Airports Authority of India (AAI), International Centre for Free and Open Source Software (ICFOSS), WRD-Government of Maharashtra, Tamil Nadu Skill Development Corporation are the organizing partners. For any queries, write to mohamedkasim@iitb.ac.in.

IIT Bombay FOSSEE-AAI Geospatial Mapathon 2025 (Edition V): https://iitb-aai-mapathon-2025.fossee.in 
.</p> 
    </div>
    <Footer2/>
  </body>
</html>