---
---

<section class="relative w-full bg-gray-50 flex flex-col items-center justify-center text-center">


  <!-- Pyramid Image -->
  <div class="w-full">
    <img 
      src="https://gis.fossee.in/static/cms/uploads/images/pyramid-2025.png" 
      alt="FOSSEE GIS Pyramid 2025" 
      class="w-full h-auto rounded-lg shadow-lg"
    />
  </div>

</section>
