 <!-- License Bar -->
  <div class=" bg-black py-15 px-6 mt-10">
    <div class="max-w-7xl mx-auto flex items-center gap-4">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
      <img src="https://hackathon.fossee.org/static/cms/uploads/images/88x31.png" alt="Creative Commons" class="h-8" /></a>
      <p class="text-white text-sm">
        This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.
      </p>
    </div>
  </div>
</footer>