<div class="p-4 text-sm font-semibold text-center">The FOSSEE-GIS website is currently being upgraded. IIT Bombay FOSSEE GIS (NMEICT) Activities Calendar 2025 is out!!!, to know more, please visit <a
            href="https://www.iitb.ac.in/iit-bombay-fossee-gis-activities-calendar-year-2025"
            class="font-semibold text-blue-600 hover:underline"
            target="_blank"
            rel="noopener noreferrer"
          >https://www.iitb.ac.in/iit-bombay-fossee-gis-activities-calendar-year-2025</a></div>