---
import Navbar from "../../components/Header.astro";
import "../../styles/global.css";
import Footer2 from "../../components/Footer2.astro";
import Update from "../../components/Update.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOSSEE GIS 2025</title>
  </head>
  <body class="font-sans">
	<Update/>
    <Navbar />
        <div class="min-h-[48vh] text-gray-600 base-content text-sm">
        <div class="m-3 p-3">
            <h1 class="text-3xl font-bold mb-4">Case Study</h1>
            <p class="mb-4"><span class="font-normal">Similar to Mapathon, the 'GIS Case-Study' is an activity which aims at creating thematic maps for real-life problems/scenarios. In this, FOSSEE-GIS team provides a list of problem statements/ideas where students will,</span></p>
            <p class="mb-4"><span class="font-normal">&nbsp;</span></p>
            <p class="mb-4"><span class="font-normal">(i). Work on a real data-set.</span></p>
            <p class="mb-4"><span class="font-normal">(ii). Study the problem in detail.</span></p>
            <p class="mb-4"><span class="font-normal">(iii). Prepare thematic maps</span></p>
            <p class="mb-4"><span class="font-normal">(iv). Prepare a detailed report on the study based on the maps.</span></p>
            <p class="mb-4"><span class="font-normal">&nbsp;</span></p>
            <p class="mb-4"><span class="font-normal"> Study can also be a collaborative activity where participants can work together to develop new tools/methods that improve the accuracy and usefulness of maps/GIS data for the community. Applications are invited from the Vice ChancellorsDeans/Directors/Principals/HODs of reputed (top 100 NIRF shall be given preference) Institutions in India offering courses in areas of Hydrology, Disaster Management, Waste Management, Green energy and sustainability, Soil conservation, Wildlife, Geography, Geology, Geoinformatics, Remote Sensing, Rural Development, Urban Studies, Policy, Engineering or any GIS-based interdisciplinary domain. The selected team(s)/institutions will win a chance to work closely with the IIT Bombay Faculty and the experts from the IIT Bombay FOSSEE GIS team. Best proposals will also get to participate as co-authors in impactful research work carried out in the GIS domain by the IIT Bombay FOSSEE GIS team.
            National GIS Case Study (Hydrology, Agriculture, Irrigation, etc)
            The National GIS Case Study is a research-intensive activity based on any of the common societal problems that could be resolved using Open Source Geospatial tools. This is a round-the-year activity. Eligible institutions can apply till May 10, 2025. For related queries, write to mohamedkasim@iitb.ac.in.
            Medical GIS Case Study (One Health)
            The application window is now open for established MEDICAL COLLEGES & RESEARCH CENTRES in INDIA that have a strong Community Medicine Department with a Data Center facility. For more details, write to mohamedkasim@iitb.ac.in.
            GIS Case Study in Localization of SDG (Rural Development (ON DEMAND))
            The GIS Case Study in the localization of SDGs in the Panchayati Raj Institutions will be based on the RDO framework developed at the Rural Data Research and Analysis (RuDRA) Lab, IIT Bombay. The application window for this activity will open in the first week of January 2024. Please write to us on &lt;</span><a href="mailto:mohamedkasim@iitb.ac.in" class="font-normal text-blue-600 hover:underline"><span class="font-normal">mohamedkasim@iitb.ac.in</span></a><span class="font-normal">&gt;, for more details.</span></p>
            <p class="mb-4"><span class="font-normal">&nbsp;</span></p>
        </div>
    </div>
    <Footer2/>
  </body>
</html>