---
import Navbar from "../../components/Header.astro";
import Footer2 from "../../components/Footer2.astro";
import Update from "../../components/Update.astro";
import "../../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FOSSEE GIS 2025</title>
    
  </head>
  <body class="font-sans">
	<Update/>
    <Navbar />
<div class="base-content">
<div class="mx-3 my-3 p-3 text-gray-600 text-sm">
        <div class="flex flex-wrap">
        <div class="w-full">
        
        <p><strong>IIT Bombay FOSSEE GIS</strong></p>
        <p class="mb-1"><strong>Activities for the Calendar year 2024</strong></p>
        <p>&nbsp;</p>
        <p>The IIT Bombay FOSSEE GIS team announces the schedule (tentative) for its flagship activities for the calendar year 2024.</p>
        <p>&nbsp;</p>
        <p><strong>About the IIT Bombay FOSSEE GIS project &amp; partners:</strong></p>
        <p>The <a href="https://www.iitb.ac.in" class="text-blue-600 hover:text-blue-800">IIT Bombay</a> <a href="https://fossee.in" class="text-blue-600 hover:text-blue-800">FOSSEE</a> <a href="https://gis.fossee.in" class="text-blue-600 hover:text-blue-800">GIS</a> team promotes the usage of GIS-based Free/Libre Open Source Software and Open Source Hardware in academia and industry. It also promotes the use of various indigenous Indian technologies like NavIC (ISRO), etc. The FOSSEE-GIS team is part of the FOSSEE project, developed at IIT Bombay which is funded through the <a href="https://nmeict.ac.in" class="text-blue-600 hover:text-blue-800">National Mission on Education through ICT (NMEICT)</a>, <a href="https://www.education.gov.in" class="text-blue-600 hover:text-blue-800">Ministry of Education</a>, Government of India. <a href="https://www.rudra.iitb.ac.in" class="text-blue-600 hover:text-blue-800">The Rural Data Research and Analysis (RuDRA), Lab, IIT Bombay</a> (India&rsquo;s first HPC-powered data center dedicated to Rural Development, housed in the Centre for Technology Alternatives for Rural Areas (C-TARA), Indian Institute of Technology Bombay) is the &lsquo;Technical Partner&rsquo;. The <a href="https://iittnif.com" class="text-blue-600 hover:text-blue-800">IIT Tirupati Navavishkar I-Hub Foundation</a> - IIT Tirupati&rsquo;s Technology Innovation Hub (TIH), funded by the National Mission on Interdisciplinary Cyber-Physical System (<a href="https://nmicps.in" class="text-blue-600 hover:text-blue-800">NM-ICPS</a>), Department of Science and Technology (<a href="https://dst.gov.in" class="text-blue-600 hover:text-blue-800">DST</a>), Government of India is the &lsquo;Organising Partner&rsquo; for select flagship activities.</p>
        <p>&nbsp;</p>
        <p>Hindustan Times article featuring IIT Bombay FOSSEE GIS activities: <a href="https://www.hindustantimes.com/cities/mumbai-news/how-amateur-mapmakers-are-solving-real-world-problems-101696138619348.html" class="text-blue-600 hover:text-blue-800">https://www.hindustantimes.com/cities/mumbai-news/how-amateur-mapmakers-are-solving-real-world-problems-101696138619348.html</a></p>
        <p>&nbsp;</p>
        <p><strong>The IIT Bombay FOSSEE GIS mandates:</strong></p>
        <ul class="list-disc list-inside">
        <li>Indian Citizens Only</li>
        <li>Use only Free/ Libre Open Source Software and Open Source Hardware</li>
        <li>Align with any SDG (UNDP). Use indigenous Indian technologies like NavIC (ISRO), etc wherever possible.</li>
        <li>The study area should be India-specific (mandatory).</li>
        <li>Work on real-life data sets (mandatory).</li>
        <li>Adhere to the (Indian) National Geospatial Policy 2022 (mandatory).</li>
        <li>Use Indian Satellite data (recommended).</li>
        <li>Use shape files only from the Survey of India portal (mandatory).</li>
        <li>Problem statements to be Inclined towards Gati Shakti (recommended).</li>
        <li>The participant(s) must be a bonafide student/ faculty/ staff of the institution recognized by UGC/ AICTE/ AIU or a body recognized by the Indian/ State Government.</li>
        </ul>
        <p><strong>The IIT Bombay FOSSEE GIS project activities include but are not limited to&hellip;</strong></p>
        <p>&nbsp;</p>
        <ul class="list-disc list-inside">
        <li>Creating awareness about various GIS-based Open Source software/ hardware tools in Educational Institutions, Research and Innovation councils/ forums across India through thematic workshops, faculty development programs, panel discussions, support in the inclusion of Skill based GIS-centric course(s) in the curriculum (Academic Council/ Board of Studies) as per NEP 2020; partnerships; advisory, etc in the foundational level.</li>
        <li>Conducting national level (general and domain-specific competitions)&hellip; (a). IIT Bombay FOSSEE GIS Mapathon (Edition I (2020); Edition II (2022); Edition 3 (2023))- considered to be the world&rsquo;s biggest open-source-based geospatial mapping challenge; (b). GIS-based IoT Hackathon; (c). Maritime Geospatial Hackathon; (d). Geospatial Agriculture Hackathon, etc.</li>
        <li>Conducting the (a). IIT Bombay FOSSEE GIS Summer Fellowship and Internship; (b). FOSSEE-GIS Semester Long Internship.</li>
        <li>The DST-Chanakya-FOSSEE National Geospatial Fellowship.</li>
        <li>National-level GIS Case Studies (General and Domain Specific).</li>
        <li>Internship-based GIS product development (i.e.) GIS on Cloud; GIS in Birding; GIS in History, GIS in Wildlife, etc.</li>
        <li>Open Source GIS Day (September 15, 2023).</li>
        <li>IUMAP&nbsp; certification program on GIS &amp; RS.</li>
        <li>(viii). Annual FOSSEE-GIS Institutional partner subscription program (with exclusive members-only benefits).</li>
        <li>(viii). Pan-India Academia-Industry connect.&nbsp;</li>
        <li>(ix). Job Fair for FOSSEE-GIS alumni and annual FOSSEE-GIS Institutional partners.</li>
        <li>(x). GIS Summer/ Winter School.</li>
        <li>(x). National level Annual FOSSEE-GIS awards (for FOSSEE-GIS alumni and annual FOSSEE-GIS Institutional and industry partners).</li>
        <li>and more&hellip;</li>
        </ul>
        <img class="w-full max-w-full h-auto" src="https://gis.fossee.in/static/cms/uploads/images/banner_gis.png">
        </div>
        </div>
        
        <div class="flex flex-wrap">
        <div class="w-full">
        <p>The IIT Bombay FOSSEE GIS Pyramid of Excellence activity Framework v.5.dec122023 (C) MKK</p>
         
        <p>The detailed schedule (tentative) of activities is put here.</p>
         
        <p><strong>National Level OpenHardware-IoT based Geospatial Hackathon (Edition 1) 2024</strong></p>
        <p>The &ldquo;National Level OpenHardware-IoT based Geospatial Hackathon 2024 (Edition 1)&rdquo; is more than just a competition; it's a platform for innovators, creators, and visionaries to come together and pioneer solutions for a brighter future. Our purpose is to harness the power of open-source hardware, the Internet of Things (IoT), and Geographic Information Systems (GIS) to address some of the world's most pressing challenges. The FOSSEE project, IIT Bombay promotes the use of Free/ Libre Open Source Software in academia and Industry. The FOSSEE project is funded through the National Mission on Education through ICT (NMEICT), Ministry of Education, Government of India. The FOSSEE-GIS team manages the overall coordination of the "IIT Bombay FOSSEE GIS Internship in Geospatial Dashboard Design and Implementation". For more details, please visit <a href="https://iot-gis-hackathon.fossee.in/" class="text-blue-600 hover:text-blue-800">https://iot-gis-hackathon.fossee.in/</a></p>
         
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Registration Open</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>November 15, 2023</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Registration Ends</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>December 31, 2023</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Inauguration</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>January 01, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Week 1: Kickoff and Orientation</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>January 01 to 07, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Week 2: Deep Dive into IoT and GIS</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>January 08 to 14, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Week 3: Prototyping and Development</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>January 15 to 21, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Week 4: Final Touches and Presentations</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>January 22 to February 04, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Presentations by Hackathon Teams</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>February 05 to February 10, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Results Declaration</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>Feb 12, 2024* (Tentative)</strong></p>
        </td>
        </tr>
        </tbody>
        </table>
        <p><strong>URL: </strong><a href="https://iot-gis-hackathon.fossee.in/" class="text-blue-600 hover:text-blue-800"><strong>https://iot-gis-hackathon.fossee.in/</strong></a></p>
         
        <p><strong>National Level NavIC (ISRO) Workshop</strong></p>
         
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>NavIC workshop date</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>January 29, 2024 (Tenative)</p>
        </td>
        </tr>
        </tbody>
        </table>
        <p><strong>URL: /* </strong>will be updated soon*/</p>
         
        <p><strong>IIT Bombay FOSSEE Geospatial Mapathon 2024 (Edition IV)</strong></p>
        <p>Mapathon is a map making competition for creating thematic maps, using open source data and mapping software. It is a collaborative event where participants come together to develop new tools/methods that improve the accuracy and usefulness of maps for a community. The FOSSEE team at IIT Bombay, along with its partners the Rural Data Research and Analysis (RuDRA) Lab, IIT Bombay and IIT Tirupati Navavishkar I-Hub Foundation (NM-ICPS, DST, Government of India) (earlier partners were AICTE, ISRO) will invite all Indians - to produce maps using various data (e.g. observation data, remote sensing data, crowdsourced data, etc.). The primary objective is to understand the potential of remote sensing data and make maps for Indian regions using free open source mapping software (e.g.: QGIS). The participants will collectively work in a crowd sourcing method for jointly producing thematic maps of India. The data collected from various platforms have tremendous potential in mapping India&rsquo;s resources, agriculture, climate and disaster management, rural and urban planning, and identifying pathways for future development. Such maps can be created using Free open Source platforms (such as QGIS). Let us join together to create such maps through the Mapathon. Mapathon also aims to develop indigenous capacity to customize and employ mapping to resolve societal challenges and create new opportunities for young India.-. The primary objective is to understand the potential of open source mapping and maps for Indian regions and to build capacity for the same.</p>
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Registration Open</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>Feb 15, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Registration Ends</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>Mar 25, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Inauguration</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>Mar 20, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>FAQ session</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>Apr 01, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Submission Window starts</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>Apr 01, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Doubt clearing session 01</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>TBD</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Doubt clearing session 02</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>TBD</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Submission Window ends</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>May 10, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Evaluation Window</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>May 13, 2024 to May 27, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Results Declaration</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>June 15, 2024* (tenative)</strong></p>
        </td>
        </tr>
        </tbody>
        </table>
        <p><strong>URL: /* </strong>will be updated soon*/</p>
        <p><em>For any queries, please write to </em><a href="mailto:mohamedkasim@iitb.ac.in" class="text-blue-600 hover:text-blue-800"><em>mohamedkasim@iitb.ac.in</em></a></p>
         
        <p><strong>National GIS Case Study (General)</strong></p>
        <p>Applications are invited from the Deans/ Directors/ Principals/ HODs of reputed (top 100 NIRF Institutions) in India offering Hydrology, Disaster Management, Soil conservation, Wildlife, Geography, Geology, Geoinformatics, Remote Sensing, Rural Development, Urban Studies, Policy, and GIS-based Engineering courses.</p>
        <p>Selected teams/ institutions will win a chance to work closely with the IIT Bombay Faculty and the experts from the IIT Bombay-FOSSEE-GIS team. Best proposals will also get to participate as co-authors in impactful research work carried out in the GIS domain by the IIT Bombay-FOSSEE-GIS team.</p>
         
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>National GIS Case Study start date</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>January 15, 2024, onwards</strong></p>
        </td>
        </tr>
        </tbody>
        </table>
        <p><strong>URL: /* </strong>will be updated soon*/</p>
         
        <p><strong>GIS Case Study in Community Medicine (Public Health)</strong></p>
        <p>The application window is now open for established <strong>MEDICAL COLLEGES &amp; RESEARCH CENTRES in INDIA</strong> that have a strong <strong>Community Medicine Department</strong> with/without Data Center facility. For more details, write to <strong>mohamedkasim@iitb.ac.in</strong></p>
         
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>GIS Case Study in Community Medicine start date</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>January 30, 2024 onwards</strong></p>
        </td>
        </tr>
        </tbody>
        </table>
         
        <p><strong>GIS Case Study in localization of SDGs in Panchayati Raj Institutions</strong></p>
        <p>The GIS Case Study in localization of SDGs in the Panchayati Raj Institutions will be based on the RDO framework developed at the Rural Data Research and Analysis (RuDRA) Lab, IIT Bombay. The application window for this activity will open in the first week of January 2024. For more details, write to <strong>mohamedkasim@iitb.ac.in</strong></p>
         
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>GIS Case Study in Community Medicine start date</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>January 30, 2024 onwards</strong></p>
        </td>
        </tr>
        </tbody>
        </table>
       
        <p><strong>IUMAP&trade; certification program</strong></p>
        <p>International Union of Mappers for Atlas and Planning is a trademarked initiative of the Rural Data Research and Analysis (RuDRA) Lab, IIT Bombay. The certification program which will be jointly conducted by IIT Bombay-FOSSEE-GIS and the RuDRA Lab will be mainly focused on GIS and Remote Sensing using Open Source Software. The process of the IUMAP&trade; certification program is being finalized. Detailed information will be made available of <a href="http://www.rudra.iitb.ac.in" class="text-blue-600 hover:text-blue-800">www.rudra.iitb.ac.in</a> and <a href="https://gis.fossee.in" class="text-blue-600 hover:text-blue-800">https://gis.fossee.in</a>.</p>
         
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>IUMAP&trade; program start date</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>March 15, 2024 (tentative)</p>
        </td>
        </tr>
        </tbody>
        </table>
         
        <p><strong>URL: /* </strong>will be updated soon*/</p>
         
        <p><strong>GIS on Cloud</strong></p>
        <p>The &ldquo;GIS on Cloud&rdquo; is an Open Source Software based community-driven product development activity initiated by the IIT Bombay FOSSEE-GIS team. This will be a unique opportunity for students having Remote Sensing. GIS, Geology, Geography, Geoinformatics, Environmental Science, Hydrology, Civil Engineering, Architecture, Urban planning, Rural Development, Policy, and Computer science with Open Source Software coding background to participate in this activity of national importance as an Intern, under the mentorship of eminent faculty from IIT Bombay, the FOSSEE(GIS) team, and partner institutions. For more details, please write to <a href="mailto:mohamedkasim@iitb.ac.in" class="text-blue-600 hover:text-blue-800">mohamedkasim@iitb.ac.in</a>.&nbsp;</p>
         
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>GIS on Coud start date</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>March 25, 2024 (tentative)</p>
        </td>
        </tr>
        </tbody>
        </table>
         
        <p><strong>URL: /* </strong>will be updated soon*/</p>
         
        <p><strong>National Level Agro-GIS Hackathon 2024 (Edition 1)</strong></p>
        <p>A dedicated Geospatial Hackathon using Free/Libre Open Source Software and Open Source Hardware in Agriculture.</p>
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Registration Open</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>Mar 15, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Registration Ends</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>Mar 31, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Inauguration</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>Mar 20, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>FAQ session</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>Apr 01, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Submission Window starts</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>Apr 15, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Doubt clearing session 01</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>TBD</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Doubt clearing session 02</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>TBD</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Submission Window ends</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>May 10, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Evaluation Window</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>May 13, 2024 to May 27, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Results Declaration</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>June 15, 2024* (tenative)</p>
        </td>
        </tr>
        </tbody>
        </table>
         
        <p><strong>URL: /* </strong>will be updated soon*/</p>
         
        <p><strong>National Level Maritime-GIS Hackathon 2024 (Edition 1)</strong></p>
        <p>A dedicated Geospatial Hackathon using Free/Libre Open Source Software and Open Source Hardware in Maritime field.</p>
         
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Registration Open</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>Jun 15, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Registration Ends</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>Jun 30, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Inauguration</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>Jul 01, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>FAQ session</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>July 08, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Submission Window starts</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>July 15, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Doubt clearing session 01</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>TBD</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Doubt clearing session 02</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>TBD</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Submission Window ends</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>Jul 31, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Evaluation Window</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>Aug 05, 2024 to Aug 10, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Results Declaration</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>Aug 13, 2024 (tentative)</p>
        </td>
        </tr>
        </tbody>
        </table>
        <p><strong>URL: /* </strong>will be updated soon*/</p>
         
        <p><strong>National Level FOSSEE-GIS Semester Long Internship</strong></p>
        <p>The IIT Bombay FOSSEE GIS team invites applications for the National Level Semester-long Internship 2024 for students (Indian citizens) currently studying in Colleges across India. The selected students will get an opportunity to work with the FOSSEE(GIS) team for one semester (subject to performance review every month). This is a remote internship with continuous support and mentoring. To get shortlisted for the internship, the applicant/ student will be asked to select from a list of projects and choose a screening task during the time of application. Then the student needs to complete at least one of the screening tasks. The selection will be purely based on the evaluation criteria of each screening task. The FOSSEE (Free/Libre and Open Source Software for Education) project promotes the use of FLOSS tools in academia and research. The decision of the evaluation team will be final at all circumstances. The FOSSEE project, IIT Bombay is funded through the National Mission on Education through ICT (NMEICT), Ministry of Education, Government of India.</p>
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Announcement of the Internship</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>January 01, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Last date for registration</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>January 10, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Submission of screen task (end-date)</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>January 23, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Result announcement</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>January 30, 2024</strong></p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>Internship begins on</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p><strong>February 01, 2024</strong></p>
        </td>
        </tr>
        </tbody>
        </table>
        <p><strong>URL: /* </strong>will be updated soon*/</p>
         
        <p><strong>IIT Bombay FOSSEE GIS Summer Fellowship and Internship 2024 (Edition II)</strong></p>
         
        <p>The IIT Bombay FOSSEE GIS Sumemr Fellowship and Inetrnship 2024 is a flagship activity of the FOSSEE-GIS team, which will be conducted in two stages i.e. Stage 1: Summer Fellowship (First month); Stage 2: Maim Internship (02 to 06 months). Candidates will be chosen based on three categories.. (i). Winners of the IIT Bombay FOSSEE Geospatial Mapathon 2024 (Edition IV); (ii). Open Registration; and (iii). Special Purpose Vehicle (a special drive to get on board bright students from the North-Eartern States, J&amp;K, Andaman and Nicobar Islands, etc). Candidates will be selected based on the strength of their S.o.P. (Statement of Purpose), and a screening task which will determine their ability to work using GIS-baed Free/Libre Open Source Software/ tools.</p>
        <p>The IIT Bombay FOSSEE GIS Summer Fellowship and Internship is considered to be one of India&rsquo;s most coveted internship&rsquo;s in the Geospatial domain with over 3000+ unique applications received from students studying in various Universities/ Colleges across India. More details will be published on gis.fossee.in website.</p>
        <p>Note:</p>
        <ol class="list-decimal list-inside" type="1">
        <li>District Collectors/ Administrations, and Government Ministries can send us their problem statement which will be assigned to the interns, who will try to solve the problems under the mentorship of the IIT Bombay-FOSSEE-GIS team and from partner institutions.</li>
        <li>Interns get a monthly honorarium. This is subject to the recommendation of the evaluation committee.</li>
        <li>Students who have already been offered or have participated in any form of Summer Fellowship/ Internship conducted by the IIT Bombay FOSSEE GIs team will not be eligible to apply.</li>
        </ol>
         
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Registration Open</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>June 15, 2024 (tentative)</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Registration Ends</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>June 30, 2024 (tentative)</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Declaration of Results (based on S.o.P.)</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>July 15, 2024 (tentative)</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Oritenation</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>July 16, 2024 (tentative)</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Stage 01 - Summer Fellowship (start date)</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>July 16, 2024 (tentative)</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Stage 01 - Summer Fellowship - 01-minute presentation by Interns</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>August 16, 2024 (tentative)</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Stage 01 results</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>August 20, 2024 (tentative)</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Stage 02 - Main Internship (start date)</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>August 20, 2024 (tentative)</p>
        </td>
        </tr>
        </tbody>
        </table>
        <p>For any queries, please write to mohamedkasim@iitb.ac.in</p>
         
        <p><strong>National level Geospatial Summer School</strong></p>
        <p>The IIT Bombay FOSSEE GIS team along with its partners plans to conduct a dedicated GIS Summer School as a premium offering for the students currently studying in Colleges across India. More details will be published before the registration start date on gis.fossee.in. Limited seats! The FOSSEE-GIS subscribed Colleges will have early bird access to the registration portal.</p>
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Registration</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>May 01 to May 25, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Release of list of selected candidates</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>May 31, 2024</p>
        </td>
        </tr>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Summer School</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>June 20 to June 30</p>
        </td>
        </tr>
        </tbody>
        </table>
         
        <p><strong>URL: /* </strong>will be updated soon*/</p>
         
        <p><strong>The DST-Chanakya-FOSSEE National Geospatial Fellowship 2024</strong></p>
        <p>The DST-Chanakya-FOSSEE National Geospatial Fellowship is a joint initiative by the IIT Bombay FOSSEE GIS project which is funded through the National Mission on Education through ICT, Ministry of Education, Government of India, and IIT Tirupati&rsquo;s Technology Innovation Hub (TIH) - the IIT Tirupati Navavishkar I-Hub Foundation (IITTNiF) which is part of the National Mission on Inter-Disciplinary Cyber-Physical Systems (NM-ICPS), Department of Science and Technology (DST), Government of India. Participation requires one to be a full-time bonafide student in any degree program at undergraduate, postgraduate, and Ph.D. level. Detailed information will be made available on request.</p>
        <p>The DST-Chanakya-FOSSEE National Geospatial Fellowship is one of the few available coveted national-level fellowships in the Geospatial domain. Candidates for this flagship initiative are selected from the IIT Bombay FOSSEE GIS Summer Fellowship and Intnership 2023 (only the top 10 our of the 50).</p>
         
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p><strong>DST-Chanakya-FOSSEE National Geospatial Fellowship 2024 - start date</strong></p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>January 01, 2024</p>
        </td>
        </tr>
        </tbody>
        </table>
         
        <p><strong>URL: /* </strong>will be updated soon*/</p>
         
        <p><strong>National Level Geospatial Academia-Industry Conclave</strong></p>
        <p>The National Level Geospatial Academia-Industry Conclave is planned to be conducted in September 2024. This will be an Open Source GIS community-driven activity with the subscribed partner Institutions of the FOSSEE-GIS project playing a vital role in the organizational part. Government agencies, Policy Makers, Companies/ Industries, professionals, etc in the GIS sector will be invited. The conclave will feature keynote sessions, panel discussions, parallel presentation sessions, and more.</p>
        <p>Entitles willing to partner with us on this conclave can write to us &lt;<a href="mailto:mohamedkasim@iitb.ac.in" class="text-blue-600 hover:text-blue-800">mohamedkasim@iitb.ac.in</a>&gt; for more information.</p>
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Date</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>September 15, 16, 2024 (Tentative)</p>
        </td>
        </tr>
        </tbody>
        </table>
         
        <p><strong>URL: /* </strong>will be updated soon*/</p>
         
        <p><strong>Open Source GIS Day 2024</strong></p>
        <p>The Open Source GIS Day is an annual event celebrating Open Source-Geographic information Systems (GIS) based technologies.</p>
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Open Source GIS Day 2024</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>September 15, 2024 (Confirmed)</p>
        </td>
        </tr>
        </tbody>
        </table>
        <p><strong>URL: /* </strong>will be updated soon*/</p>
         
        <p><strong>Annual FOSSEE Geospatial conference</strong></p>
        <p>A national-level conference organized by the FOSSEE-GIS team in association with its partners and Industries in the Geospatial field. The Annual FOSSEE Geospatial Conference will be conducted at IIT Bombay.</p>
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Conference Date</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>June 21 to 23, 2024 (Tentative)</p>
        </td>
        </tr>
        </tbody>
        </table>
        <p><strong>URL: /* </strong>will be updated soon*/</p>
        <p><strong>FOSSEE GIS Job Fair</strong></p>
        <p>A dedicated Job Fair in Geospatial domain for the alumni (Mapathon, Hackathon... Champions, Winners &amp; Interns) of the FOSSEE-GIS project and for the student of FOSSEE-GIS subscribed Institutions. Companies looking for potential candidates for the GIS-based vacancies can write to us for participating in this job fair as a recruiter. For more information, please write to mohamedkasim@iitb.ac.in</p>
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>GIS Job Fair date</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>TBD</p>
        </td>
        </tr>
        </tbody>
        </table>
        
        <p><strong>National FOSSEE Geospatial Awards</strong></p>
        <p>National level awarding ceremony in the geospatial domain organized by the FOSSEE-GIS project in association with its partner institutions.</p>
          <table class="min-w-full border border-gray-300">
        <tbody>
        <tr>
        <td class="border border-gray-300 p-2">
        <p>Date</p>
        </td>
        <td class="border border-gray-300 p-2">
        <p>September 15, 2024 (Tentative)</p>
        </td>
        </tr>
        </tbody>
        </table>
         
        <p><strong>URL: /* </strong>will be updated soon*/</p>
        <p>The FOSSEE-GIS team is part of the FOSSEE project, developed at IIT Bombay which is funded through the National Mission on Education through ICT (NMEICT), Ministry of Education, Government of India. The FOSSEE project is headed by Prof. Kannan Moudgalya (Principal Investigator.), Prof. Pennan Chinnasamy (Co.P.I.) leads the GIS vertical of the project, Mr. <a href="https://www.linkedin.com/in/mkkmk/" class="text-blue-600 hover:text-blue-800">Mohamed Kasim Khan</a> (National Coordinator - FOSSEE(GIS) &amp; Sr. Research Scientist) coordinates the overall planning and implementation of the IIT Bombay-FOSSEE-GIS activities covering all the states and union territories of India.</p>
        <p>Government agencies, Skill Development bodies, and Educational institutions (UGC/ AICTE/ AIU recognized Universities, Colleges, etc) seeking collaboration can write to &lt;mohamedkasim@iitb.ac.in&gt; us and help us spread awareness on the IIT Bombay FOSSEE GIS team&rsquo;s national level initiatives for the benefit of their students, scholars, faculty, staff, and industry professionals.</p>
        <p>Email: <a href="mailto:mohamedkasim@iitb.ac.in" class="text-blue-600 hover:text-blue-800">mohamedkasim@iitb.ac.in</a>; <a href="mailto:gis@fossee.in" class="text-blue-600 hover:text-blue-800">gis@fossee.in</a>&nbsp;</p>
        <p>Phone: (022) 2567 4111</p>
        <p>Venue: IIT Bombay (hybrid mode)</p>
        </div>
        </div>
</div>
    <Footer2/>
  </body>
</html>
